<div class="m-2 py-4 h-32 w-40">
    <dt>
        <div class="absolute flex h-12 w-12 items-center justify-center rounded-md text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <img src="http://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}.png">
        </div>
        <p class="ml-16 text-5xl font-medium leading-6 text-gray-900">{{ weatherData.weather[0].main }}</p>
    </dt>
    <!-- <dd class="mt-2 ml-16 text-xl text-gray-500">{{ weatherData.weather[0].description }}</dd> -->
    <dd class="mt-2 ml-16 text-2xl text-gray-500">{{ weatherData.main.temp }}°C</dd>
</div>