<div class="">

  <header class="bg-white shadow">
    <div class="mx-auto py-6 px-4">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{title}}</h1>
    </div>
  </header>

  <div class="container mx-auto py-2">
    <div class="flex flex-row">

      <div class="basis-1/4 m-2 ">
        <div class="border rounded-lg border-dashed border-gray-200">
          <app-weather></app-weather>
        </div>
      </div>

      <div class="basis-3/4 m-2">
        <div class="border rounded-lg border-dashed border-gray-200">
          <app-clock></app-clock>
        </div>
      </div>
  
    </div>
  </div>

  <div class="container mx-auto py-2">
    <div class="flex flex-row">
      <div class="basis-4/4 m-2 w-screen">
        <div class="border rounded-lg border-dashed border-gray-200">
          <app-eventcalendar *ngIf="!alarm"></app-eventcalendar>
          <app-alarminfo *ngIf="alarm"></app-alarminfo>
        </div>
      </div>
    </div>
  </div>

</div>